{% extends 'base.html' %}

{% block content %}
<div class="container">
  <br>
        <h2>Databank for Calculation</h2>
  <hr>
  <br>
  <h4>Recommended Data</h4>
  <label class="form-label">The following tables contain exemplary data for the technical and economic input parameters
      of the individual technologies and energy sources. The data are based on studies from 2021 or older.</label>
  <p style="padding-bottom: 30px; width: 300px;">

  <table class = "table"; style="width:600px">
    <tr>
      <th>Power Production Technology</th>
      <th>CapEx</th>
      <th>OpEx</th>
    </tr>
    <tr>
      <td>Wind</td>
      <td>1.200</td>
      <td>4,0</td>
    </tr>
    <tr>
      <td>PV</td>
      <td>650</td>
      <td>2,5</td>
    </tr>
    <tr>
      <td>Unit</td>
      <td>EUR/kw(el)</td>
      <td>% of CapEx</td>
    </tr>
  </table>
  <p style="padding-bottom: 30px; width: 300px;">

  <table class = "table"; style="width:800px">
    <tr>
      <th>Power-to-X Technology</th>
      <th>CapEx</th>
      <th>OpEx</th>
      <th>Efficiency</th>
    </tr>
    <tr>
      <td>PEM-Electrolyzer</td>
      <td>1.610</td>
      <td>4,0</td>
      <td>71</td>
    </tr>
    <tr>
      <td>AEL-Electrolyzer</td>
      <td>878</td>
      <td>4,0</td>
      <td>71</td>
    </tr>
    <tr>
      <td>Power-to-Methane</td>
      <td>2.275</td>
      <td>4,0</td>
      <td>56</td>
    </tr>
    <tr>
      <td>Power-to-Ammonia</td>
      <td>2.653</td>
      <td>4,0</td>
      <td>45</td>
    </tr>
    <tr>
      <td>Unit</td>
      <td>EUR/kw(el)</td>
      <td>% of CapEx</td>
      <td>%</td>
    </tr>
  </table>
  <p style="padding-bottom: 30px; width: 300px;">

  <table class = "table"; style="width:1000px">
    <tr>
      <th>X-to-Power Technology</th>
      <th>CapEx</th>
      <th>OpEx</th>
      <th>Electrical efficiency</th>
      <th>Thermal efficiency</th>
    </tr>
    <tr>
      <td>Hydrogen Fuel Cell</td>
      <td>1.130</td>
      <td>4,0</td>
      <td>62</td>
      <td>28</td>
    </tr>
    <tr>
      <td>Combined Cycle Gas Turbine Plant</td>
      <td>550</td>
      <td>4,0</td>
      <td>61</td>
      <td>27</td>
    </tr>
    <tr>
      <td>Unit</td>
      <td>EUR/kw(el)</td>
      <td>% of CapEx</td>
      <td>%</td>
      <td>%</td>
    </tr>
  </table>
  <p style="padding-bottom: 30px; width: 300px;">

  <table class = "table"; style="width:500px">
    <tr>
      <th>Energy carrier</th>
      <th>Price</th>
    </tr>
    <tr>
      <td>Green Hydrogen</td>
      <td>278</td>
    </tr>
    <tr>
      <td>Grey Hydrogen</td>
      <td>51</td>
    </tr>
    <tr>
      <td>Blue Hydrogen</td>
      <td>56</td>
    </tr>
    <tr>
      <td>Ammonia</td>
      <td>29,6</td>
    </tr>
    <tr>
      <td>Methane</td>
      <td>31,2</td>
    </tr>
     <tr>
      <td>Unit</td>
      <td>EUR/MWh</td>
    </tr>
  </table>
</div>
<p style="padding-bottom: 30px; width: 300px;">
{% endblock %}