<! –– -*- coding: utf-8 -*-

"""Input request by the web application.

SPDX-FileCopyrightText: Arian Hohgraeve
SPDX-FileCopyrightText: Johannes Giehl

SPDX-License-Identifier: MIT

––>

{% extends 'base.html' %}

{% block content %}
<div class="container">
  <br>
        <h2>Input for Calculation</h2>
  <hr>
  <br>
  <form action = "/output" method = "post" class="row g-3">
        <h4>Basic Informations</h4>
    <br>

    <div class="col-md-4">
      <label for="ptx_technology" class="form-label">Sector Coupling Technology:</label>
      <select id="ptx_technology" class="form-select" name="ptx_technology" size="1">
          <option value="Power-to-X">Power-to-X</option>
          <option value="X-to-Power">X-to-Power</option>
        </select>
    </div>

   <div class="col-md-4">
      <label for="power_technology" class="form-label">Installed Capacity (MWel):</label>
      <input type="number" step="0.01" class="form-control" name = "power_technology" min="0"
             value="1" id="power_technology" required>
   <p style="padding-bottom: 30px; width: 900px;">
   </div>

          <label class="form-label"> <b>Power-to-X:</b><br />
          For the production of Power-to-X energy carriers, variable cost for raw materials can be integrated
          (such as water for hydrogen or CO<sub>2</sub> for methane, etc.). <br />
          <b>X-to-Power:</b><br />In the calculations of an XtP business  model, set a "0" if only the input
          energy carrier is considered. Variable cost of the input are defined in a following step.</label>

    <div class="col-md-4">
      <label for="capex_technology" class="form-label">Investment Cost (EUR/kW):</label>
      <input type="number" step="0.01" class="form-control" name = "capex_technology" min="0" value="978"
             placeholder="e.g. 1600" id="capex_technology" required>
    </div>

    <div class="col-md-4">
      <label for="opex_technology" class="form-label">Yearly Operational Cost (% of Investment Cost):</label>
      <input type="number" step="0.01" class="form-control" name = "opex_technology" min="0" value="7"
             placeholder="e.g. 4" id="opex_technology" required>
    </div>

    <div class="col-md-4">
      <label for="variable_cost" class="form-label">Variable Costs (EUR/MWh):</label>
      <input type="number" step="0.01" class="form-control" name = "variable_cost" min="0", value="10"
             placeholder="e.g. 10" id="variable_cost" required>
    <p style="padding-bottom: 30px; width: 900px;">
    </div>

      <label class="form-label">Thermal efficiency only applies to <b>X-to-Power</b> technologies where
      commercial use of waste heat is possible (e.g.: Fuelcell, CCGT). Otherwise, set the value to "0".</label>

    <div class="col-md-5">
      <label for="efficiency_ele" class="form-label">Electrical Overall-Efficiency of the system (in %):</label>
      <input type="number" step="0.01" class="form-control" name = "efficiency_ele" min="0" value="70"
             placeholder="e.g. 70" id="efficiency_ele" required>
    </div>

    <div class="col-md-5">
      <label for="efficiency_th" class="form-label">Thermal Overall-Efficiency of the system (in %):</label>
      <input type="number" step="0.01" class="form-control" name = "efficiency_th" min="0" value="0"
             placeholder="e.g. 0" id="efficiency_th" required>
        <p style="padding-bottom: 30px; width: 900px;">
    </div>

    <hr>
        <h4>Power Production</h4>
    <br>

    <div class="col-md-5">
      <label for="input_technology" class="form-label">Power Input Technology:</label>
      <select id="input_technology" class="form-select" name="input_technology" size="1">
        <option selected>PV</option>
        <option value="Wind">Wind</option>
        <option value="PV+Grid">PV+Grid</option>
        <option value="Wind+Grid">Wind+Grid</option>
        <option value="Wind+PV">Wind+PV</option>
        <option value="Grid">Grid</option>
        </select>
    </div>

    <div class="col-md-5">
      <label for="power_input" class="form-label">Installed Capacity (MWel):</label>
      <input type="number" step="0.01" class="form-control" name = "power_input" min="0" value="1"
             placeholder="e.g. 20" id="power_input" required>
    </div>

   <label class="form-label">In case of a combination of Wind and PV you to define the system.
        Please enter the share of the capacity of wind and PV. The sum must bee 100%.<br />
        A 50/50 share is set by default.</label>

    <div class="col-md-5">
      <label for="share_input_wind" class="form-label">Share of Wind in combined case (in %):</label>
      <input type="number" step="0.01" class="form-control" name = "share_input_wind" min="0"
             value="50" id="share_input_wind" required>
    </div>

    <div class="col-md-5">
      <label for="share_input_pv" class="form-label">Share of PV in combined case (in %):</label>
      <input type="number" step="0.01" class="form-control" name = "share_input_pv" min="0"
             value="50" id="share_input_pv" required>
        <p style="padding-bottom: 30px; width: 900px;">
    </div>

    <label class="form-label">Enter "0" for Investment and yearly operational cost for pure grid procurement.<br />
        For the combination of PV and wind, enter an average value or weighted depending on the design.</label>

    <div class="col-md-4">
      <label for="capex_input" class="form-label">Investment Cost (EUR/kW):</label>
      <input type="number" step="0.01" class="form-control" name = "capex_input" min="0"
             value="650" placeholder="e.g. 650" id="capex_input" required>
    </div>

    <div class="col-md-4">
      <label for="opex_input" class="form-label">Yearly Operational Cost (% of Investment Cost):</label>
      <input type="number" step="0.01" class="form-control" name = "opex_input" min="0"
             value="2" placeholder="e.g. 2" id="opex_input" required>
    </div>

    <div class="col-8">
      <label for="location" class="form-label">Plant Location (Federal State):</label>
      <select id="location" class="form-select" name="location" size="1">
        <option value="Baden Württemberg">Baden Württemberg</option>
        <option value="Bayern">Bayern</option>
        <option value="Berlin">Berlin</option>
        <option selected>Brandenburg</option>
        <option value="Bremen">Bremen</option>
        <option value="Hamburg">Hamburg</option>
        <option value="Hessen">Hessen</option>
        <option value="Mecklenburg Vorpommern">Mecklenburg Vorpommern</option>
        <option value="Niedersachsen">Niedersachsen</option>
        <option value="Nordrhein Westphalen">Nordrhein Westphalen</option>
        <option value="Rheinland Pfalz">Rheinland Pfalz</option>
        <option value="Saarland">Saarland</option>
        <option value="Sachsen">Sachsen</option>
        <option value="Sachsen Anhalt">Sachsen Anhalt</option>
        <option value="Schleswig Holstein">Schleswig Holstein</option>
        <option value="Thüringen">Thüringen</option>
        </select>
    </div>

      <hr>
        <h4>Commercial Parameters</h4>
      <br>

    <div class="col-md-4">
      <label for="power_cost" class="form-label">PtX Power Price / XtP Energy Carrier Sales Price <br />
          (EUR/MWh - 0 for Default):</label>
      <input type="number" step="0.01" class="form-control" name = "power_cost" min="0"
             value="0" id="power_cost" required>
    </div>

    <div class="col-md-3">
      <label for="pp_series" class="form-label">Power Price Series  <br />
          (if PtX Power Price is 0):</label>
      <select id="pp_series" class="form-select" name="pp_series" size="1">
          <option value="2019">2019</option>
          <option value="2021">2021</option>
          <option value="2021_fitted">2021 fitted</option>
        </select>
    </div>

    <div class="col-md-3">
      <label for="heat_cost" class="form-label">Heat Sales Price <br /> (EUR/MWh - 0 for Default):</label>
      <input type="number" step="0.01" class="form-control" name = "heat_cost" min="0"
             value="0" placeholder="e.g. 0" id="heat_cost" required>
    </div>

    <div class="col-md-4">
      <label for="product_price" class="form-label">PtX Energy Carrier Sales Price / <br />
          XtP Energy Carrier Input Price (EUR/MWh): </label>
      <input type="number" step="0.01" class="form-control" name = "product_price" min="0"
             value="0" placeholder="e.g. 80" id="product_price" required>
    </div>

    <div class="col-md-5">
      <label for="wacc_input" class="form-label">Weighted Average Cost of Capital <br /> (WACC - in %): </label>
      <input type="number" step="0.01" class="form-control" name = "wacc_input" min="0" max="100"
             value="7" placeholder="e.g. 7" id="wacc_input" required>
    </div>

    <div class="col-md-6">
      <label for="runtime" class="form-label">Lifetime (Years):</label>
      <input type="number" class="form-control" name = "runtime" min="1" max="100"
             value="25" placeholder="e.g. 25" id="runtime" required>
    </div>

    <div class="col-9">
      <label for="power_price_change" class="form-label">Adjustment of Power Cost Time Series (in %):</label>
      <input type="number" step="0.01" class="form-control" name = "power_price_change" min="-500" max="500"
             placeholder="0, if Default-Power-Cost should not be changed" value="0" id="power_price_change" required>
    </div>

    <div class="col-9">
      <label for="margincost_model" class="form-label">Cost-managed Operation:</label>
      <select id="margincost_model" class="form-select" name="margincost_model" size="1">
        <option selected>yes</option>
        <option value="no">no</option>
        </select>
    </div>


    <hr>
        <h4>Infrastructure Dimensioning</h4>
    <br>
    <label> For Power-to-X models with hydrogen as output energy carrier
        it is possible to calculate the costs of necessary additional infrastructure. This might be reasonable as
    there is no public hydrogen grid / distribution system at the moment</label><br>

    <div class="col-9">
      <label for="do_infrastructure" class="form-label">Should costs for additional transport
          infrastructure be calculated ?</label>
      <select id="do_infrastructure" class="form-select" name="do_infrastructure" size="1">
        <option selected>no</option>
        <option value="yes">yes</option>
        </select>
    </div>

    <div class="col-md-6">
      <label
          for="storage_time_days"
          class="form-label"
          title="If no Infrastructure, but a Storage is needed, select a Storage time in days. Otherwise input 0"
      >
          Add Storage Time in Days:
      </label>
      <input type="number" step="0.1" class="form-control" name = "storage_time_days" min="0" max="100" value="0"
             placeholder="e.g. 7" id="storage_time_days" required>
    </div>


    <div class="col-9">
      <label for="infrastructure_type" class="form-label">Infrastructure Type:</label>
      <select id="infrastructure_type" class="form-select" name="infrastructure_type" size="1">
        <option selected>--</option>
        <option value="LNG">Liquid Gas Trailer</option>
        <option value="Tubetrailer">Gaseous Tubetrailer</option>
        <option value="Pipeline">Pipeline</option>
        </select>
    </div>

    <div class="col-md-6">
      <label for="distance" class="form-label">Distance to Demand Location (km):</label>
      <input type="number" step="0.01" class="form-control" name = "distance" min="0" max="500" value="0"
             placeholder="e.g. 5" id="distance" required>
    </div>

    <div class="col-md-6">
      <label for="min_storage_dimension" class="form-label" title="If not needed input 0">Minimum Energy Storage Demand (kWh):</label>
      <input type="number" step="0.1" class="form-control" name = "min_storage_dimension" min="0" max="500000000" value="0"
             placeholder="e.g. 2000" id="min_storage_dimension" required>
    </div>

    <hr>
        <h4>Consideration of Regulatory Impact</h4>
    <br>
    <div class="col-md-10">
      <label> The tool considers the regulatory costs and possible subsidies in Germany (as of 2021). The user can set
          own values to calculate the planned business case regarding the desired technology.
          This enables the analysis of different regulatory conditions and the impact on the business model.<br>
        <br>
        The following default values for regulatory costs and subsidies exist:<br>
        <ul>
          <li>EEG-levy: 6.5 ct/kWh according to the  Renewable Energy Act (EEG)</li>
          <li>Power Tax: 2.05 ct/kWh according to the Power Tax Act</li>
          <li>KWKG-levy: 2.26 EUR/MWh according to the Combined Heat and Power Act (KWKG)</li>
          <li>CAPEX-subsidy: 0% of total Investment Cost</li>
          <li>OPEX-subsidy: 0% of yearly Operational Cost (Maintenance and Operations)</li>
        </ul>
      </label><br>
    </div>

    <div class="col-md-6">
      <label for="EEG_reduction" class="form-label">EEG-levy (EUR/MWh):</label>
      <input type="number" step="0.01" class="form-control" name = "EEG_reduction" min="0" max="1000"
             value="0" id="EEG_reduction" required>
    </div>

    <div class="col-md-6">
      <label for="stromsteuer_reduction" class="form-label">Power tax (EUR/MWh):</label>
      <input type="number" step="0.01" class="form-control" name = "stromsteuer_reduction" min="0" max="1000"
             value="0" id="stromsteuer_reduction" required>
    </div>

    <div class="col-md-6">
      <label for="KWKG_reduction" class="form-label">KWKG-levy (EUR/MWh):</label>
      <input type="number" step="0.01" class="form-control" name = "KWKG_reduction" min="0" max="1000"
             value="0" id="KWKG_reduction" required>
    </div>

    <div class="col-md-6">
      <label for="netzentgelte_reduction" class="form-label">Grid Usage Fees (EUR/MWh):</label>
      <input type="number" step="0.01" class="form-control" name = "netzentgelte_reduction" min="0" max="1000"
             value="0" id="netzentgelte_reduction" required>
    </div>

    <div class="col-md-6">
      <label for="capex_subvention" class="form-label">Subsidy for Investment Cost (in %):</label>
      <input type="number" step="0.01" class="form-control" name = "capex_subvention" min="0" max="100"
             value="0" id="capex_subvention" required>
    </div>

    <div class="col-md-6">
      <label for="opex_subvention" class="form-label">Subsidy for yearly Operational Cost (in %):</label>
      <input type="number" step="0.01" class="form-control" name = "opex_subvention" min="0" max="100"
             value="0" id="opex_subvention" required>
    </div>




    <div class="col-12">
      <button type="submit" class="btn btn-primary">Calculate</button>
    </div>
    <br>
    <br>
  </form>
</div>
<p style="padding-bottom: 30px; width: 300px;">

{% endblock %}
